main .contact-info {
  max-width: 600px;
  margin: auto;
  padding: 0 20px 20px 20px;
}

main .contact-info ul li {
  font-size: 1.3rem;
}

main .contact-info a {
  color: inherit;
}

main .contact-info-heading {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.light .contact-info {
  color: var(--color-700);
}

.light .contact-info ul {
  color: var(--color-900);
}

.dark .contact-info {
  color: var(--color-200);
}

.dark .contact-info ul {
  color: var(--color-300);
}
