header.dark {
  background-color: var(--color-800);
  color: var(--color-300);
}

header .and {
  color: rgba(255, 72, 0, 0.733);
}

header .name {
  --color: rgb(247, 183, 89);
  color: var(--color);
  border-bottom: 2px solid var(--color);
  padding-bottom: 5px;
}

header .intro {
  font-size: 1.4rem;
  max-width: 600px;
  padding: 12px;
  margin-bottom: 10px;
}

header {
  margin-bottom: 50px;
}
